<div class="contenedor">
    <div class="container">
        <div class="bloque row">
            <div class="col-lg-6">
                <div class="image">
                    <img src="https://i.ytimg.com/vi/kN1XP-Bef7w/maxresdefault.jpg" alt="" style="max-width: 100%;">
                </div>
                <div class="texto">
                    <h4 class="m-2">Html desde Cero</h4>
                    <p class="m-2 pb-4 ">
                        Do you want to make a web page with HTML, CSS and JavaScript?, This is the HTML from scratch course that you are going to finish, I promise you that you will not get bored while learning this great ...
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="https://i.ytimg.com/vi/z95mZVUcJ-E/maxresdefault.jpg" alt="" style="max-width: 100%;">
                </div>
                <div class="texto">
                    <h4 class="m-2">Javascript desde Cero</h4>
                    <p class="m-2 pb-4 ">
                        ¿Queres aprender a programar en Javascript desde cero? , Este es el curso de javascript desde cero a experto que vas a terminar, te prometo que no te vas a aburrir durante el aprendizaje de este curso ...

                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="https://i.ytimg.com/vi/OWKXEJN67FE/maxresdefault.jpg" alt="" style="max-width: 100%;">
                </div>
                <div class="texto">
                    <h4 class="m-2">Css para todos</h4>
                    <p class="m-2 pb-4 ">
                        ¿Queres hacer una página web con HTML, CSS y JavaScript? , Este es el curso de CSS desde cero a experto que vas a terminar, te prometo que no te vas a aburrir durante el aprendizaje de este curso de ...

                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="https://i.ytimg.com/vi/kN1XP-Bef7w/maxresdefault.jpg" alt="" style="max-width: 100%;">
                </div>
                <div class="texto">
                    <h4 class="m-2">Html desde Cero</h4>
                    <p class="m-2 pb-4 ">
                        Do you want to make a web page with HTML, CSS and JavaScript?, This is the HTML from scratch course that you are going to finish, I promise you that you will not get bored while learning this great ...
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="https://i.ytimg.com/vi/kN1XP-Bef7w/maxresdefault.jpg" alt="" style="max-width: 100%;">
                </div>
                <div class="texto">
                    <h4 class="m-2">Html desde Cero</h4>
                    <p class="m-2 ">
                        Do you want to make a web page with HTML, CSS and JavaScript?, This is the HTML from scratch course that you are going to finish, I promise you that you will not get bored while learning this great ...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>