<div class="contenedor">
    <div class="container">
        <div class="bloque row p-5">
            <div class="col-lg-5 col-sm-12 col-xs-12">
                <div class="imagen">
                    <img src="https://lh3.googleusercontent.com/4Z9Hzmo1-ET0bAgRZx6YvPpl8-8l_0ic6eKtdgou-Lerslu_kWAx6kmfOh-tAFRL9eCysHnJhfqkaicObQ3pYatJRjNYjCx1BkhYR374i58DedxfctE9tmPQSnoZGYP9n3h8VPHKEPnfLd-F6zANJzgmeqMcSR-w?is-pending-load=1"
                        alt="" style="max-width: 100%;">
                </div>
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="titulo">
                    <h1>Empresa de Software</h1>
                </div>
                <div class="contenido">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        <br /><br />
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of type and scrambled it to make a type specimen
                        book.<br /><br />
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                        <br /><br />
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                        including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>